body {
  background: green;
}
.card {
  float: left;
  border: solid 2px black;
  box-shadow: 1px 1px black;
  background: white;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
}

.controls {
  margin: 0 auto;
  padding: 5px;
  width: 50%;
  text-align: center;
}

.controls button {
  margin: 5px 10px;
  border-radius: 25px;
  background: white;
  height: 2em;
  font-size: 1em;
  font-weight: bold;
}

.scores-container {
  position: relative;
  background: white;
  border: 10px dashed black;
  width: 500px;
  margin: 0 auto;
  height: 300px;
  padding: 10px;
  font-size: 1.25em;
  font-weight: bold;
  color: green;
}

.player-hand-container, .dealer-hand-container {
  height: 200px;
  width: 80%;
  margin: 20px auto;
}

h2 {
  position: relative;
  left: 45%;
  margin: 0 auto;
}
label#player {
  position: absolute;
  margin: 5px;
  top: 0px;
  left: 0px;
}
label#dealer {
  margin: 5px;
  position: absolute;
  top: 0px;
  right: 50px;
}
label#pushes {
  margin: 5px;
  position: absolute;
  bottom: 0px;
  left: 40%;
}
#statusBox {
  margin: 5px auto;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 400px;
  height: 200px;
  border: 5px dotted red;
  text-align: center;
  vertical-align: middle;
}

label#status {
  position: relative;
  top: 40%;
  margin: 0 auto;
  text-align: center;
  vertical-align: bottom;
}
